body {
  background: #0f1b2a;
  color: white;
  font-family: Arial;
  padding: 20px;
}

h1, h2 {
  text-align: center;
}

#map {
  height: 400px;
  margin-bottom: 40px;
  border-radius: 10px;
}

canvas {
  margin-bottom: 40px;
  background: #1b2d3f;
  padding: 10px;
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #1b2d3f;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background: #243a52;
}

#statusBox {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}
